* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1100px;
}

.game {
    margin-top: 50px;
    border-radius: 62px;
    background-color: rgb(73, 73, 255);
    box-shadow: 13px 10px 1px 1px rgb(60, 60, 218);
    width: 100%;
    height: 500px;
}

.game-bar {
    margin-left: 50px;
}

.game-bar-health {
    display: inline-block;
    margin-top: 10px;
    color: rgb(248, 248, 248);
    text-shadow: 2px 2px 8px rgb(29, 29, 29);
    font-size: 25px;
}

.block-1 {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}

img {
    cursor: pointer;
    width: 100px;
    margin-left: 25px;
    margin-right: 25px;
    transition: all .5s ease;
}

@keyframes move {
    100% {
        margin-bottom: 20px;
        margin-top: 40px;
    }
}

.false {
   /* animation:  move 1s infinite alternate; */
   transition: all .5s ease;
   position: relative;
   top: 0;
   left: 0px;
}

.false-three {
   transition: all .5s ease;
   position: relative;
   top: 0;
   left: 0px;
}

.true-three {
   position: relative;
    top: -200px;
    left: -150px;
    transition: all .5s ease;
}

.false-two {
   transition: all .5s ease;
   position: relative;
   top: 0;
   left: 0px;
}

.true-two {
    position: relative;
    top: -200px;
    left: 0px;
    transition: all .5s ease;
}

.true {
    position: relative;
    top: -200px;
    left: 150px;
}

.game-fild {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.game-count-start-false{
    animation:  move 1s infinite alternate;
    font-size: 40px;
    color: azure;
}